
.account-wrapper {
    .change-password-wrapper {
        position: relative;
        top: 100px;
        margin: 0 auto;
        width: 50%;
        min-width: 320px;
        padding: 10px;
        box-shadow: 3px 2px 17px 2px $background-color-dimgray;

        button {
            width: 300px;
            left: 0;
            right: 0;
            margin: 0 auto;
            background-color: $background-color-black;

            &:hover {
                background-color: $background-color-dimgray;
            }
        }

        .btn-secondary.disabled:hover {
            background-color: $background-color-black;
        }

        .sign-up-form {
            height: 0;
            overflow: hidden;
            transition: height 0.5s ease;

            &.opened {
                height: 330px;
            }

            label {
                font-weight: 700;
            }
        }
    }

    .player-settings-wrapper {
        opacity: 0;
        width:0;
        margin: 50px auto;
        padding: 20px;
        box-shadow: 3px 2px 17px 2px #696969;
        text-align: center;
        transition: all 1s ease;

        &.visible {
            opacity: 1;
            width: 75%;
            overflow: hidden;

            .checkbox-wrapper,
            .title {
                opacity: 1;
            }
        }

        .title {
            opacity: 0;
            font-weight: 800;
            transition: opacity 3s ease;
        }
    }

    .checkbox-wrapper {
        opacity: 0;
        margin: 10px;
        text-align: center;
        cursor: pointer;
        transition: opacity 3s ease
    }

    .favorite-styles-wrapper {
        position: relative;
        right: 0;
        left: 0;
        width:0;
        opacity: 0;
        margin: 50px auto;
        padding: 10px;
        box-shadow: 3px 2px 17px 2px $background-color-dimgray;
        transition: all 1s ease;

        &.visible {
            opacity: 1;
            width: 75%;
            overflow: hidden;
        }

        span {
            position: relative;
            top: -500px;
            float: left;
            margin: 5px 10px;
            font-size: 20px;
            font-weight: 700;
            cursor: pointer;
            transition: top 1s ease;

            &:hover {
                color: $font-color-red;
            }

            &.visible {
                top: 0;
            }
        }
    }

    .dropdown {
        margin-top: 150px;
    }
}


