.router-container {
  position: absolute;
  top: 20px;
  right: 0;
  width: calc(100% - 200px);
  height: 100%;

  &.auth {
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;
  }

  .search-bar {
    position: relative;
    width: 300px;
    margin: 0 auto 20px;

    .input-group-text {
      background: black;
      color: white;
      font-weight: bold;
    }
  }
}

.form-control:focus {
  box-shadow: 0 0 0 0.01rem rgba(0,123,255,.25)
}

.error {
  position: relative;
  bottom: 5px;
  white-space: nowrap;
  color: red;
}

.hidden {
  display: none;
}

.snackbar {
  position: fixed;
  bottom: 0;
  align-items: center;
  width: calc(100% - 200px);
  min-height: 0;
  height: 0;
  padding: 0 1.25rem;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  transition: min-height 0.5s ease-in;

  span {
    height: 0;
    opacity: 0;
    line-height: 0;
    transition: opacity 0.5s ease-in;
  }

  &.opened {
    min-height: 30px;
    height: auto;

    span {
      opacity: 1;
    }
  }

  &.success {
    color: $background-color-white;
    background-color: $background-color-green;
    border-color: $background-color-green
  }

  &.fail {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
}

.btn {
  height: 40px !important;

  &:focus {
    box-shadow: none !important;
  }
}

@media only screen and (max-width: 576px) {
  .router-container {
    position: relative;
    top: 100px;
    width: 100%;
    transition: top 0.21s linear;

    &.opened-navbar {
      top: 220px;
    }
  }

  .snackbar {
    width: 100%;
  }
}