@import '../styles/variables';

.navbar {
  background-color: black !important;
  color: white !important;

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  .navbar-brand {
    color: white;
    font-weight: 1000;

    &:hover, &:focus {
      color: white !important;
    }
  }

  a {
    margin: 0 15px;
    color: $font-color-white;
    text-decoration: none;

    &:hover {
      color: $font-color-darkgray;
    }

    &.selected {
      color: $font-color-red;
    }
  }
}