@import './variables';

.release-data-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 30px;
    color: $font-color-gray;

    .release-cover {
        width: 250px;
        height: 250px;
        margin: 0 30px 30px 0;
        cursor: pointer;
    }

    .info-wrapper {
        position: relative;
        line-height: 24px;
        font-size: 16px;
        color: $font-color-dimgray;

        p {
            font-weight: 700;

            span {
                font-weight: 400;
            }
        }

        .artists {
            font-size: 24px;
            color: $font-color-dimgray;
            font-weight: 700;
            cursor: pointer;

            &:hover {
                color: $font-color-black;

            }
        }

        span, p {
            margin: 0 auto 5px;
        }

        .release-title {
            font-size: 24px;
            color: $font-color-dimgray;
        }
    }
}

.add-button {
    position: absolute;
    top: -20px;
    left: 30px;
    right: 0;
    margin: 0 auto;

    &.add-to-wishlist {
        position: relative;
    }
}

.tracklist-wrapper {
    font-size: 16px;
    color: $font-color-dimgray;

    span {
        margin-right: 10px;
    }

    h3 {
        font-weight: 700;
    }

    .add-button {
        top: 20px;
        left: 0;
    }
}

@media only screen and (max-width: 767px) {
    .release-data-container {
        display: block;
        text-align: center;

        .release-cover {
            margin: 0 auto;
            margin-bottom: 30px;
        }

        .add-button {
            top: -20px;

            &.add-to-wishlist {
                position: relative;
                top: 15px;
                left: 0;
            }

            &.add-to-collection {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    .tracklist-wrapper {
        padding: 30px;
        text-align: center;
    }
}