.results-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 30px;
}

// .no-results {
//     position: relative;
//     top: 50%;
//     margin-top: 100px;
//     text-align: center;

//     p {
//         font-size: 40px;
//         font-weight: 700;
//     }
// }

.filter-container {
    position: relative;
    top: 30px;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
    width: 320px;

    .result-filter {
        margin: 20px 10px;
        color: $font-color-dimgray;
        cursor: pointer;

        &.no-pointer {
            cursor: initial;
        }

        &.selected {
            color: $font-color-black;
            font-weight: 700;
        }

        @media only screen and (max-width: 767px) {
            display: block;
            margin: 5px 10px;
        }
    }
}

.search-page {
    .pagination-wrapper {
        margin: 30px auto 10px;
    }
}

