.results-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 30px;

    .loader-wrapper {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
    }

    .loading-text {
        font-weight: 600;
        font-size: 30px;
    }

    .loading {
        left: 0;
        right: 0;
        width: 300px;
        height: 300px;
        margin: 0 auto;
        background: url('../assets/authentication-background.png') no-repeat local center;
        background-size: contain;
        animation: spin 5s linear infinite;
    }
}

.filter-container {
    position: relative;
    top: 10px;
    text-align: center;

    .result-filter {
        margin: 20px 10px;
        color: $font-color-dimgray;
        cursor: pointer;

        &.no-pointer {
            cursor: initial;
        }

        &.selected {
            color: $font-color-black;
            font-weight: 700;
        }

        @media only screen and (max-width: 767px) {
            display: block;
            margin: 5px 10px;
        }
    }
}
