//COLORS

$font-color-white: #FFFFFF;
$font-color-red: #FF0000;
$font-color-gray: #D3D3D3;
$font-color-darkgray: #A9A9A9;
$font-color-black: #000000;
$font-color-dimgray: #696969;


$background-color-white: #FFFFFF;
$background-color-red: #FF0000;
$background-color-gray: #D3D3D3;
$background-color-darkgray: #A9A9A9;
$background-color-black: #000000;
$background-color-dimgray: #696969;
$background-color-green: #28A745;
